<router-outlet></router-outlet>
<ngx-spinner bdColor="rgba(222,206,206,0.8)" size="medium" color="#907070" type="ball-pulse-rise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<!-- <h1>My name is {{name}}</h1>
<h1>Annual Salary is {{salary*12}}</h1>

<img [src]="imagepath"/> -->

<!-- <input type="text" placeholder="Your Name" [value]="name" (change)="Inputhandle($event)">
<input type="text" placeholder="Your Name" [value]="email">
<input type="number" placeholder="Your Name" [value]="salary"> -->

<!-- <input type="text" placeholder="Your Name" [(ngModel)]="name">
<input type="text" placeholder="image" [(ngModel)]="imagepath">
<input type="number" placeholder="salary" [(ngModel)]="salary">
<input type="text" placeholder="email" [(ngModel)]="email">
<button  class="btn-danger"(click)="Clear()"> clear</button>

<h1>My Name Is :{{name}}</h1>
<h1>My Annual Salary is :{{salary*12}}</h1>
<h1>My Email is :{{email}}</h1>
<img [src]="imagepath" /> -->

<!-- <h1 *ngIf="updateMessage">This Messaage to show</h1>
<button class="btn-info" (click)="clickFun()">Toggle</button> -->

<!-- <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr> -->
<!-- <tr *ngFor="let obj of customers" [ngStyle]="{'background-color':obj.city=='amman'?'green':'red'}"> -->

<!-- <tr  *ngFor="let obj of customers" [ngStyle]="{'font-size.px':50}">
        <td>{{obj.id}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.age}}</td>
        <td [ngStyle]="{'background-color':getColor(obj.city)}">{{obj.city}}</td>
    </tr>
</table> -->